{% extends 'base.html' %}
{% block extra_css %}
<style>
    body {
        font-family: 'Nunito', sans-serif;
        background-color: #eef1f7;
        color: #333;
    }

    .header {
        background-color: #fff;
        padding: 2rem 0;
        text-align: center;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-container {
        text-align: center;
        padding: 1rem;
        background-color: #f7f7f7;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: #007bff;
        text-decoration: none;
        margin: 0 15px;
        font-weight: 700;
        transition: color 0.3s;
    }

    .nav-link:hover {
        color: #0056b3;
    }

    .main-content {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        background-color: #ffffff;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
        transition: transform 0.3s, box-shadow 0.3s;
        flex-basis: calc(33.333% - 20px);
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        font-size: 1.4rem;
        color: #007bff;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    .card p {
        margin: 0.5rem 0;
    }

    .button {
        border-color: rgba(0, 123, 255, 0.5); /* Lighter blue for borders */
        color: #007bff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

    .button:hover {
        background-color: rgba(0, 123, 255, 0.1);
    }

    .btn-outline-danger {
        border-color: #dc3545; /* Soft red for danger actions */
        color: #dc3545;
    }

    .add-progress-button {
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

    .add-progress-button:hover {
        background-color: #0056b3;
    }

    @media (max-width: 768px) {
        .main-content {
            flex-direction: column;
        }

        .card {
            flex-basis: 100%;
        }
    }

    .footer {
        background-color: #fff;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}
{% block content %}
     <div class="header">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
    </div>

    <div class="nav-container">
        <a href="{% url 'gestion:project_list' %}" class="nav-link">Back to Project List</a>
        <!-- Additional navigation links can be added here -->
    </div>

    <div class="main-content">
        <!-- User Actions -->
        {% if user.is_authenticated %}
            <div class="card user-actions">
                <div class="card-header">User Actions</div>
                <!-- Content based on user role -->
                {% if user.userprofile.role == 'STUDENT' %}
                <a href="{% url 'gestion:modify_project' project.id %}" class="button">Modify Project</a>
                {% endif %}
                <!-- Student Actions -->
                {% if user.userprofile.role == 'STUDENT' %}
                <div>
                    {% if project in user.projects_as_student.all %}
                        {% with is_following_student=True %}
                            <p>You are following this project as a student.</p>
                            <a href="{% url 'gestion:unfollow_student' project.id %}" class="button">Unfollow</a>
                        {% endwith %}
                    {% else %}
                        {% with is_following_student=False %}
                            <a href="{% url 'gestion:follow_student' project.id %}" class="button">Follow as a student</a>
                        {% endwith %}
                    {% endif %}
                </div>
                
                {% endif %}

                <!-- Teacher Actions -->
                {% if user.userprofile.role == 'TEACHER' %}
                    <div>
                        {% if project in user.projects_as_teacher.all %}
                            <p>You are following this project as a teacher.</p>
                            <a href="{% url 'gestion:unfollow_teacher' project.id %}" class="button">Unfollow as a teacher</a>
                        {% else %}
                            <a href="{% url 'gestion:follow_teacher' project.id %}" class="button">Follow as a teacher</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <!-- Project Creator -->
        <div class="card project-creator">
            <div class="card-header">Project Creator</div>
            {% if project.creator %}
        <p>Username: {{ project.creator.username }}</p>
        <p>Email Address: {{ project.creator.email }}</p>
    {% else %}
        <p>Creator information is not available.</p>
    {% endif %}
        </div>

        <!-- Project Students -->
        <div class="card project-students">
            <div class="card-header">Participants</div>
            <ul>
                {% for participation in student_participations %}
                    <li>name: {{ participation.student.username}} & email: {{participation.student.email}}</li>
                {% empty %}
                    <li>No students are currently participating in this project.</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Documents Section -->
        <div class="card documents">
            <div class="card-header">Documents</div>
            {% if user.userprofile.role == 'STUDENT' %}
            <a href="{% url 'gestion:add_document' project.id  %}" class="button">add document</a>
            {% endif %}
            <ul>
                {% for document in documents %}
                    <li>
                        <a href="{{ document.document.url }}">{{ document.document.name }}</a>
                        <a href="{% url 'gestion:download_document' project.id document.id %}" class="button">Download</a>
                        {% if user.userprofile.role == 'STUDENT' %}
                            <a href="{% url 'gestion:modify_document' project.id document.id %}" class="button">Modify</a>
                            <a href="{% url 'gestion:delete_document' project.id document.id %}" class="button button-danger">Delete</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

         <!-- Progress Section -->
         <div class="card documents">
            <div class="card-header">Progression</div>
            {% if user.userprofile.role == 'STUDENT' %}
            <a href="{% url 'gestion:add_progress' project.id  %}" class="button">add progresion</a>
            {% endif %}
            <ul>
                {% for progress_item in progress %}
                    <li>{{ progress_item.milestone }} - {{ progress_item.description }} - {{ progress_item.completion_date }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Evaluations Section -->
        <div class="card evaluations">
            <div class="card-header">Évaluations</div>
            {% if user.userprofile.role == 'TEACHER' %}
            <a href="{% url 'gestion:evaluate_project' project.id  %}" class="button">evalate</a>
            {% endif %}
            <ul>
                {% for evaluation in evaluations %}
                    <li>Évalué par: {{ evaluation.evaluated_by }} - Note: {{ evaluation.rating }} - Commentaires: {{ evaluation.comments }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="footer">
        <small>
            <a href="#">Privacy Policy</a> • <a href="#">Terms of Service</a>
        </small>
    </div>
{% endblock %}
</body>


</html>
